.footer {
  text-align: center;
}
.ready {
  padding: 100px 0;
  background-color: $green;
  font-size: 36px;
  color: white;
}
.legal {
  padding: 100px 0;
  background-color: $gray;
  font-size: 18px;
  font-weight: 300;
  color: white;
}
