.header {
  background-color: $green;
  padding-bottom: 45px;
  color: white;
  text-align: center;
}
.header-container {
  max-width: 840px;
  margin: 0 auto 10rem auto;
}

.header-description {
  max-width: 65rem;
  margin: 0 auto;
  margin-top: 3rem;
  font-family: $roboto;
  font-weight: 300;
}

.get-started-button {
  margin-top: 3.5rem;
  background-color: white;
  color: $green;
  font-weight: 400;
}

.how-it-works {
  padding-bottom: 25px;
  font-family: $roboto;
  font-size: 1.4rem;
  opacity: 0.8;
}

.how-it-works-icon {
  display: inline-block;
  width: 25px;
  margin: 15px auto;
}
