.header {
  background-color: $green;
  padding-bottom: 4.5rem;
  color: white;
  text-align: center;
}
.header-container {
  max-width: 84rem;
  margin: 0 auto 10rem auto;
}

.header-description {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 3rem;
  font-family: $roboto;
  font-weight: 300;
}

.get-started-button {
  margin-top: 3.5rem;
  background-color: white;
  color: $green;
  font-weight: 400;
}

.how-it-works {
  padding-bottom: 2.5rem;
  font-family: $roboto;
  font-size: 1.4rem;
  opacity: 0.8;
}

.how-it-works-icon {
  display: inline-block;
  width: 2.5rem;
  margin: 1.5rem auto;
}
