.nav {
  @include clearfix;
  max-width: 104rem;
  margin: 0 auto;
  padding: 6rem 4rem 12rem 4rem;
}
.logo {
  float: left;
  width: 100px;
  height: 30px;
  @include hide-text;
  background: url('images/logo.svg') center/cover no-repeat;
}
.nav-link {
  float: right;
  font-size: 1.6rem;

  &:last-child {margin-right: 30px;}

  @include max(860px) {
    padding-top: 10px;
  }
}
