.nav {
  @include clearfix;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0 120px 0;
}
.logo {
  float: left;
  width: 100px;
  height: 30px;
  @include hide-text;
  background: url('images/logo.svg') center/cover no-repeat;
}
.nav-link {
  float: right;
  font-size: 1.6rem;

  &:last-child {margin-right: 30px;}
}
