.button {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px 0;
  font-family: $roboto;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  color: $green;
  text-align: center;
}
