@import "mixins";
@import "reset";
@import "fonts";

$green: #2BD882;
$beige: #F9F9F2;
$gray: #5D5D5D;
// $blue:


$roboto: "Roboto", sans-serif;;
$medium: BrandonText-Medium;

html {
  // 1rem = 10px
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  font-family: $medium;
}

@import "ui";
@import "header";
@import "nav";
@import "footer";
@import "split";

.feature-image {
  height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @for $i from 1 through 4 { &:nth-of-type(#{$i}) {background-image: url('images/feature-#{$i}.jpg');} }
}
