@import
  "mixins",
  "reset",
  "fonts";

$green: #2BD882;
$beige: #F9F9F2;
$gray: #5D5D5D;

html {
  font-size: 10px; // 1rem = 10px

  @include max(1075px) {
    font-size: 8px;
  }

  @include max(860px) {
    font-size: 6px;
  }
}

body {
  font-size: 2.4em; // fix chrome-issue#319623
  font-family: $roboto;
}

@import
  "ui",
  "header",
  "nav",
  "footer",
  "split"
  ;
